body {
  background-color: #333;
}

.editor-content {
  position: relative;
  margin: 0;

  .actions-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    padding-right: 2em;
  }
}
