body {
  background-color: #333;
}

.editor-content {
  position: relative;
  margin: 0;

  .actions-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    padding-right: 2em;
  }

  #editor-menu {
    padding: .5em;

    &.dark {
      background-color: #333;
      color: #88898c;

      .btn-group {

        .btn {
          background-color: transparent;

          &:hover, &:active, &:focus {
            color: #fff;
          }
        }
        .dropdown-menu {
          background-color: #333;

          li {
            a {
              color: #88898c;

              &:hover, &:active, &:focus {
                background-color: #444;
                color: #fff;
              }
            }
          }
        }
      }
    }
    &.light {
      background-color: #ccc;

      .btn-group {
        .btn {
          background-color: #fff;
        }
      }
    }
    label {
      font-weight: 200;
    }

    .dropdown-menu {
      max-height: 250px;
      overflow: auto;
    }
  }
}
