<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Edit Share</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(./app) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <script>
      var Global = {};
      Global = <%- JSON.stringify(datas) %>;
      window.Global = Global;
    </script>
  </head>
  <body ng-app="app">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="editor-content row" ng-controller="EditorCtrl" ng-init="init()">
      <div id="editor-menu" class="col-md-12">
        <form class="form-inline">
          <div class="form-group">
            <label for="theme" class="control-label">Themes</label>
            <select name="theme" class="form-control input-sm" ng-model="theme" ng-options="t for t in themes" ng-change="themeChanged()"></select>
          </div>
          <div class="form-group">
            <label for="fontSize" class="control-label">Font-size</label>
            <input type="number" name="fontSize" class="form-control input-sm" ng-model="fontSize" ng-change="fontSizeChanged()"/>
          </div>
          <div class="form-group">
            <label for="tabSize" class="control-label">Tab size</label>
            <select name="tabSize" class="form-control input-sm" ng-model="tabSize" ng-options="t for t in tabs" ng-change="tabSizeChanged()"></select>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="wrapMode" ng-change="wrapChanged()"> Wrap mode
            </label>
          </div>
        </form>
      </div>
      <div id="editor" class="col-md-12" ui-ace="aceOption" ng-model="code"></div>
      <div class="actions-content">
        <div class="pull-right">
          <button class="btn btn-primary" ng-click="save()">Save</button>
          <a class="btn btn-secondary" href="#" download="<%= datas.file.name %>" ng-click="export($event)">Export</a>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/ace-lib/ace.js"></script>
    <script src="scripts/ace-lib/ext-language_tools.js"></script>
    <!-- build:js(./app) scripts/vendor.js -->
    <script src="scripts/bower_components/jquery/dist/jquery.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="scripts/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="scripts/bower_components/angular/angular.js"></script>
    <script src="scripts/bower_components/angular-ui-ace/ui-ace.js"></script>
    <!-- endbuild -->
    <!-- build:js(./app) scripts/app.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/socket.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>
</html>
